body {
  background-color: rgb(238, 236, 236);
  padding: 0;
  margin: 0;
}

.logo {
  width: 64px;
}
p {
  text-align: justify;
}
img {
  width: 650px;
  height: auto;
}
.col-sm-6 .extra {
  text-align: center;
}
